{% extends "layout.html" %}

{% block content%}
{%from "_macros.html" import render_field%}

<div class="container">
    <div class="col-4">
        <div class="row">
            <form name="sent" action="/eliminarAlumn" id="form1" method="POST">
                <div class="row control-group">
                    <div class="form-group col-xs-12 float-label-form-group controls">
                        {{render_field(form.id,class='form-control', readonly="readonly")}}
                    </div>
                </div>

                <div class="row control-group">
                    <div class="form-group col-xs-12 float-label-form-group controls">
                        {{render_field(form.nombre,class='form-control', readonly="readonly")}}
                    </div>
                </div>
                <div class="row control-group">
                    <div class="form-group col-xs-12 float-label-form-group controls">
                        {{render_field(form.apellidos,class='form-control', readonly="readonly")}}
                    </div>
                </div>
                <div class="row control-group" style="padding-bottom: 10px;">
                    <div class="form-group col-xs-12 float-label-form-group controls">
                        {{render_field(form.email,class='form-control', readonly="readonly")}}
                    </div>
                </div>

                <input type="submit" class="btn btn-success" id="eliminar" name="eliminar" value="Eliminar" />
                <a href="/getAlumn" class="btn btn-danger">
                    Cancelar
                </a>

            </form>

        </div>
    </div>
</div>

{% endblock %}